extends layout.pug
block content
  .container
    .row
      .col-12
        h1.mt-5 Welcome to the Text Analysis
        p This is a simple text analyzer that will give you some basic statistics about your text.
        a.btn.btn-primary(href='/stats') Go to stats