extends layout.pug
block content
  .container
    .row
      .col-12
        h1.mt-5 Welcome to the Text Analyzer
        p This is a simple text analyzer that will give you some basic statistics about your text.
        .btn-group
          a.btn.btn-primary(href='/stats') Go to stats
          a.btn.btn-info.btn-block(href='https://github.com/gloirekiba/text-analyzer' target="_blank") Go to repo on GitHub